.vscode

# Build
dist/


# =====================================================
# ENV FILES
# =====================================================
.env

# =====================================================
# PYTHON
# =====================================================
venv/
__pycache__/
*.pyc

# =====================================================
# OS / EDITOR
# =====================================================

.vscode/
.DS_Store
Thumbs.db